*{
  font-family: 'Khula', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}
.ShopContent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  display: flex;
  justify-content: center;
  min-width: 1200px;
  width: 1200px;
  height: auto;
  background-color: blanchedalmond;
  min-height: calc(100vh - 50px) ;
}
.content2{
  width: auto;
  height: auto;
  padding: 25px;
}
.ProductGrid{
  padding-right: 30px;
  padding-left: 30px;
  width: 1200px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShopItem{
  width: 100%;
  background-color: red;
}
.ShopItem img{
  width: 100%;
  height: auto;
}
