.backgroundVideo{
    z-index: -1;
    position: absolute;
    top: 50;
    width: 100%;
    height: calc(100% - 50px);
    object-fit: cover;  
}
.mainText{
    font-size: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(70vh - 50px);
    color: white;
    text-shadow: black 5px 5px 5px;
}